<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Messages</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container text-left">
    <div class="row">
        <h2 class="text-center">Messages</h2>
        <div class="col">
            <form method="post" action="/add" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="text" name="text" placeholder="Input message"/>
                </div>
                <div class="mb-3">
                    <input type="text" name="tag" placeholder="tag"/>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="file">
                </div>
                <div class="mb-3">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="col">
            <div>
                <form method="get" action="/main">
                    <input type="text" name="tag" value="{{tag}}"/>
                    <button type="submit">Filter</button>
                </form>
            </div>
            <div>
                <h2>Message List</h2>
                {{#messages}}
                <div>
                    <b>{{id}}</b>
                    <span>{{text}}</span>
                    <i>{{tag}}</i>
                    <strong>{{authorName}}</strong>
                    <img src="img/{{fileName}}" id="imgFromFile" width="200" height="100"/>
                </div>
                {{/messages}}
            </div>
        </div>
        <div class="col">
            <form method="post" action="/logout">
                <input type="submit" value="Sign Out"/>
                <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"/></div>
            </form>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>
</body>
</html>