<!DOCTYPE XHTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>UserEdit</title>
</head>
<body>
<form action="/user" method="post">
    <div><input type="text" value="{{user.username}}" name="username"/></div>
    {{#roles}}
    <div><label><input type="checkbox" name="{{name}}" value="{{name}}"/>{{name}}</label></div>
    {{/roles}}
    <div><input type="hidden" value="{{user.id}}" name="userId"/></div>
    <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"/></div>
    <button type="submit">Save</button>
</form>
</body>
</html>