<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>UserList</title>
</head>
<body>
<h2>List of users</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
    <tr>
        <td>{{username}}</td>
        <td>{{#roles}}
            {{name}}
        {{/roles}}</td>
        <td><a href="/user/{{id}}" />edit</td>
    </tr>
    {{/users}}
    </tbody>
</table>
<br />
<div>
    <a href="/home">Home</a>
</div>
</body>
</html>